<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Список людей</title>
</head>
<body>
<table class="table table-bordered table-striped">

    <thead>
    <tr>
        <th>Name</th>
        <th>Patronymic</th>
        <th>Surname</th>
        <th>Last surname</th>
        <th>Birthday</th>
        <th>Deathday</th>
        <th>Gender</th>
        <th>About</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${persons}">
        <td th:text="${person.name}"/>
        <td th:text="${person.patronymic}"/>
        <td th:text="${person.surname}"/>
        <td th:text="${person.lastSurname}"/>
        <td th:text="${person.birthday}"/>
        <td th:text="${person.deathday}"/>
        <td th:text="${person.genderId}"/>
        <td th:text="${person.about}"/>
        <td>
            <form method="POST" th:action="@{/edit(personId=${person.id})}">
                <button type="submit" name="submit" value="value" class="link-button">EDIT</button>
            </form> |
            <form method="POST" th:action="@{/delete(personId=${person.id})}">
                <button type="submit" name="submit" value="value" class="link-button">DELETE</button>
            </form>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>